<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список заказов</title>
    <style type="test/css">
        h2 {
            font-size: 14pt;
            color: black
        }
        label{
            font-size: 14pt;
            color: green
        }
    </style>
</head>
<body>
<h2 align="center">Список заказов с выбранным билбордом</h2>
<div align="center">
    <form action="" method="POST">
        <label for="product">Введите адрес билборда</label>
        <input name="product_name" id="product" type="text" placeholder="адрес">
        <br><br>
        <input type="submit" value="Отправить">
    </form>
</div>
</body>
</html>