<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Поиск билборда</title>
    <style type="test/css">
        h2 {
            font-size: 14pt;
            color: black
        }
        label{
            font-size: 14pt;
            color: green
        }
    </style>
</head>
<body>
<h2 align="center">Информация о билборде</h2>
<div align="center">
    <form action="" method="POST">
        <label for="billboard_info">Введите ID билборда</label>
        <input name="billboard_id" id="billboard_info" type="text" placeholder="ID">
        <br><br>
        <input type="submit" value="Отправить">
    </form>
</div>
</body>
</html>