<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Поиск билборда</title>
    <style type="test/css">
        h2 {
            font-size: 14pt;
            color: black
        }
        label{
            font-size: 14pt;
            color: green
        }
    </style>
</head>
<body>
<h2 align="center">Ввод данных</h2>
<div align="center">
    <form action="" method="POST">
        <label for="input_line">Введите {{rq_line}}</label>
        <input name="input_get" id="input_line" type="text" placeholder={{rq_placeholder}}>
        <br><br>
        <input type="submit" value="Отправить">
    </form>
    <br><br>
    <h2 align="center">{{ message }}</h2>
</div>
</body>
</html>