{% extends 'base.html' %}
{% block page %}
{% import 'query_template.html' as tmp %}
    <h1 class="pg-title display-6 mb-3">Расписание эксплуатации билбодов</h1>
    <div class="text-start col-md-10 offset-md-1 my-5">
        {% for year in schedule %}
            <h1 class="display-4 mb-2">{{year}}</h1>
            <div class="ms-md-4">
                {% for month in schedule[year] %}
                    <h1 class="my-4 ms-5">{{month}}</h1>
                    <div class="mb-3">
                        {% set bb_list = [] %}
                        {% for b_id in schedule[year][month] %}
                            <div class="d-none">{{ bb_list.append(bb[b_id]) }}</div>
                        {% endfor %}
                        {{tmp.out_table(schema, bb_list)}}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}