{% macro out_table(schema, result) %}
    <table class="table">
        <thead>
             <tr>
                {% for column in schema%}
                    <th scope="col">{{column}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for line in result %}
            <tr>
                {% for column in line %}
                <td> {{column}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endmacro %}

{% if render %}
    {% extends 'renther_menu.html' %}
    {% block bb_info %}
        {{table.out_table(schema, result)}}
    {% endblock %}
{% endif %}