{% macro render_item(item, show_form=False, show_period=False) %}
    <div style="border-style: solid; border-color: black; margin: 5px">
        <span style="color: black;"> Адрес: </span>
        <span style="color: green;"> {{ item['b_adress'] }} </span>
        <span style="color: black;"> Цена: </span>
        <span style="color: green;"> {{ item['b_cost'] }}₽/месяц </span>

        {% if show_period %}
            <span style="color: black;"> Начало аренды: </span>
            <span style="color: green;"> {{ item['rent_start'] }} </span>
            <span style="color: black;"> Время аренды: </span>
            <span style="color: green;"> {{ item['rent_len'] }} </span>
        {% endif %}

        {% if show_form %}
            <div>
                <form action="" method="post">
                    <input type="hidden" name="b_id" value="{{ item['b_id'] }}">
                    <input type="submit" name="action" value="add">
                </form>
            </div>
        {% endif %}
    </div>
{% endmacro %}