{% extends 'base.html' %}
{% block head %}
        <li><a href="#" class="nav-link px-2 link-dark">Отчёты</a></li>
        <li><a href="{{ url_for('bp_query.renther_history') }}" class="nav-link px-2 link-dark">История</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Хто я</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">О компании</a></li>
{% endblock %}

{% block page %}
        <a href="{{ url_for('bp_query.renther_history') }}">История заказов</a> <br><br>
        <a href="{{ url_for('bp_order.order_index') }}">Сделать новый заказ</a> <br><br>
        <a href="{{ url_for('bp_query.bill_info') }}">Информация о биллборде</a> <br><br>
{% endblock %}