{% extends 'base.html' %}
{% block head %}
        <li><a href="#" class="nav-link px-2 link-dark">Отчёты</a></li>
        <li><a href="{{ url_for('bp_query.renther_history') }}" class="nav-link px-2 link-dark">История</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Хто я</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">О компании</a></li>
{% endblock %}

{% block page %}
        <a href="{{ url_for('bp_query.bill_orders') }}">Просмотр заказов аренды в текущем месяце</a> <br><br>
        <a href="{{ url_for('bp_query.renther_history_all') }}">История заказов арендатора</a> <br><br>
        <a href="#">Просмотр арендаторов</a> <br><br>
        <a href="{{ url_for('bp_report.start_report') }}">Отчёты</a> <br><br>
{% endblock %}